body {
    font-family: Arial, sans-serif;
}

.notification {
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #f7f7f7;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
}
 /* Estilo del modal */
 .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  /* Contenedor del modal con animación de fadeout */
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }

  /* Botones del modal */
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }